#resume-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#resume-container {
    font-family: Arial, sans-serif;
    width: 8.5in;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}

#skills-grid {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#resume-hr {
    border: none;
    border-top: 2px solid #000000;
}

#resume-h3,
#resume-p {
    margin: 5px 0;
}

#resume-h4 {
    margin: 2px 0;
}

#languages ul {
    list-style-type: square;
    padding-left: 20px;
}

#languages ul li {
    margin-bottom: 5px;
}

#skills ul {
    list-style-type: square;
    padding-left: 20px;
}

#skills ul li {
    margin-bottom: 5px;
}

#experience ul {
    list-style-type: square;
    padding-left: 20px;
}

#education ul {
    list-style-type: square;
    padding-left: 20px;
}

#projects ul {
    list-style-type: square;
    padding-left: 20px;
}

#contact-info ul {
    list-style-type: none;
}

#name {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

#contact-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}